@CHARSET "UTF-8";

*{
	font-family: consolas, Microsoft YaHei;
}
.top-nav{
	background-color: #255485;
}

.navbar-left .btn, .top-menu .btn{
	color: #FFF;
}

.btn-lg, .btn-group-lg>.btn {
	line-height: 1.34;
}

/* webkit, opera, IE9 */
/* background:lightblue; */ 
::selection { background:#00a999; color: #FFF;}
/* mozilla firefox */
::-moz-selection { background:#00a999; color: #FFF; }

.success-icon{
	color: #62C462;
}

.fail-icon{
	color: #F1CA00;
}

.icon-process{
	color: #264763;
}

.tree-ul {
    border: 1px dashed #777;
}


.btn-success {
    color: #ffffff;
    background-color: #71d398;
    border-color: #71d398;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #52c981;
    border-color: #42c576;
}

.form-horizontal .left-input-icon, .form-inline .left-input-icon {
    position: absolute;
    left: 25px;
    top: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin h1 {
	font-size: 63px;
}

.bs-glyphicons li {
    list-style: none;
}

.bs-glyphicons li a {
    float: left;
    border-radius: 10px;
    color: #d8d8d8;
    width: 20%;
    height: 115px;
    padding: 30px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    background-color: #54626d;
    text-decoration: none;
    border: 3px solid #fff;
}

.bs-glyphicons li a:hover {
	background-color: #f1ee91;
    color: #808080;
}

.bs-glyphicons i {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 36px;
}

.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 700;
}

.navbar .navbar-left{
	padding-left: 0;
}

.checkbox_label {
	font-weight: normal;
}

.form-horizontal .icheckbox_flat-blue {
	top: -1px;
}

.view-div {
	padding-top: 80px;
}

.form-control {
	box-shadow: inset 0 0px 1px rgba(0,0,0,.075);
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 0;
}

.form-inline {
	padding: 15px 0;
}

.table td {
	word-break: break-all;
}

.form-control {
	border: 0px;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar-right {
	margin-right: 0px;
}

.form-background {
	background-color: #f4f4f4;
}

.panel {
	margin-top: 30px;
	background-color: #f4f4f4;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
	border: 0px;
}

.navbar {
	border: 0px;
}

.navbar-default {
	background-color: #f4f4f4;
}
